pip install Flask
pip install flask_compress
pip install waitress

# if you want packe server
# Use this command in system where you want to packe server
# If you want to packe server on windows, you need to install pyinstaller on windows
# If you want to packe server on linux, you need to install pyinstaller on linux

pip install pyinstaller
# Script for packe server on windows
pyinstaller --onefile --name=servidor --add-data "templates;templates" --add-data "static;static" server.py
# Script for packe server on linux
pyinstaller --onefile --name=servidor --add-data "templates:templates" --add-data "static:static" server.py
